<div>

    <div  style="width:100%;" ng-controller="importCustomersController" ng-init="initializeController()" ng-cloak>

        <h3> Import Customers </h3>

        <table class="table">
            <tr>
                <td class="input-label-bottom"><label>This function will import test data for demonstration purposes.</label></td>
            </tr>
        </table>

        <button class="btn btn-primary btn-large" ng-click="importCustomers()">Import</button>

        <div style="padding-top:20px">
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)"><div ng-bind-html="MessageBox"></div></alert>
        </div>

        </>
    </div>



</div>

