<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.v5ent.rapid4j.web.dao.OrderDetailMapper" >
  <resultMap id="BaseResultMap" type="com.v5ent.rapid4j.web.model.OrderDetail" >
    <id column="orderdetailid" property="orderdetailid" jdbcType="VARCHAR" />
    <result column="orderid" property="orderid" jdbcType="VARCHAR" />
    <result column="lineitemnumber" property="lineitemnumber" jdbcType="INTEGER" />
    <result column="productid" property="productid" jdbcType="VARCHAR" />
    <result column="quantity" property="quantity" jdbcType="INTEGER" />
    <result column="datecreated" property="datecreated" jdbcType="DATE" />
    <result column="dateupdated" property="dateupdated" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    orderdetailid, orderid, lineitemnumber, productid, quantity, datecreated, dateupdated
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.v5ent.rapid4j.web.model.OrderDetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_orderdetail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_orderdetail
    where orderdetailid = #{orderdetailid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_orderdetail
    where orderdetailid = #{orderdetailid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.v5ent.rapid4j.web.model.OrderDetailExample" >
    delete from t_orderdetail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.v5ent.rapid4j.web.model.OrderDetail" >
    insert into t_orderdetail (orderdetailid, orderid, lineitemnumber, 
      productid, quantity, datecreated, 
      dateupdated)
    values (#{orderdetailid,jdbcType=VARCHAR}, #{orderid,jdbcType=VARCHAR}, #{lineitemnumber,jdbcType=INTEGER}, 
      #{productid,jdbcType=VARCHAR}, #{quantity,jdbcType=INTEGER}, #{datecreated,jdbcType=DATE}, 
      #{dateupdated,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.v5ent.rapid4j.web.model.OrderDetail" >
    insert into t_orderdetail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderdetailid != null" >
        orderdetailid,
      </if>
      <if test="orderid != null" >
        orderid,
      </if>
      <if test="lineitemnumber != null" >
        lineitemnumber,
      </if>
      <if test="productid != null" >
        productid,
      </if>
      <if test="quantity != null" >
        quantity,
      </if>
      <if test="datecreated != null" >
        datecreated,
      </if>
      <if test="dateupdated != null" >
        dateupdated,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderdetailid != null" >
        #{orderdetailid,jdbcType=VARCHAR},
      </if>
      <if test="orderid != null" >
        #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="lineitemnumber != null" >
        #{lineitemnumber,jdbcType=INTEGER},
      </if>
      <if test="productid != null" >
        #{productid,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="datecreated != null" >
        #{datecreated,jdbcType=DATE},
      </if>
      <if test="dateupdated != null" >
        #{dateupdated,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.v5ent.rapid4j.web.model.OrderDetailExample" resultType="java.lang.Integer" >
    select count(*) from t_orderdetail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_orderdetail
    <set >
      <if test="record.orderdetailid != null" >
        orderdetailid = #{record.orderdetailid,jdbcType=VARCHAR},
      </if>
      <if test="record.orderid != null" >
        orderid = #{record.orderid,jdbcType=VARCHAR},
      </if>
      <if test="record.lineitemnumber != null" >
        lineitemnumber = #{record.lineitemnumber,jdbcType=INTEGER},
      </if>
      <if test="record.productid != null" >
        productid = #{record.productid,jdbcType=VARCHAR},
      </if>
      <if test="record.quantity != null" >
        quantity = #{record.quantity,jdbcType=INTEGER},
      </if>
      <if test="record.datecreated != null" >
        datecreated = #{record.datecreated,jdbcType=DATE},
      </if>
      <if test="record.dateupdated != null" >
        dateupdated = #{record.dateupdated,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_orderdetail
    set orderdetailid = #{record.orderdetailid,jdbcType=VARCHAR},
      orderid = #{record.orderid,jdbcType=VARCHAR},
      lineitemnumber = #{record.lineitemnumber,jdbcType=INTEGER},
      productid = #{record.productid,jdbcType=VARCHAR},
      quantity = #{record.quantity,jdbcType=INTEGER},
      datecreated = #{record.datecreated,jdbcType=DATE},
      dateupdated = #{record.dateupdated,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.v5ent.rapid4j.web.model.OrderDetail" >
    update t_orderdetail
    <set >
      <if test="orderid != null" >
        orderid = #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="lineitemnumber != null" >
        lineitemnumber = #{lineitemnumber,jdbcType=INTEGER},
      </if>
      <if test="productid != null" >
        productid = #{productid,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null" >
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="datecreated != null" >
        datecreated = #{datecreated,jdbcType=DATE},
      </if>
      <if test="dateupdated != null" >
        dateupdated = #{dateupdated,jdbcType=DATE},
      </if>
    </set>
    where orderdetailid = #{orderdetailid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.v5ent.rapid4j.web.model.OrderDetail" >
    update t_orderdetail
    set orderid = #{orderid,jdbcType=VARCHAR},
      lineitemnumber = #{lineitemnumber,jdbcType=INTEGER},
      productid = #{productid,jdbcType=VARCHAR},
      quantity = #{quantity,jdbcType=INTEGER},
      datecreated = #{datecreated,jdbcType=DATE},
      dateupdated = #{dateupdated,jdbcType=DATE}
    where orderdetailid = #{orderdetailid,jdbcType=VARCHAR}
  </update>
</mapper>