<div>

    <div id="register" style="width:100%;" ng-controller="loginController" ng-init="initializeController()" ng-cloak>

        <h3> Login </h3>

        <table class="table" style="width:100%">
          
            <tr>
                <td class="input-label" align="right"><label class="required">User Name:</label></td>
                <td class="input-box">
                    <input ng-model="UserName" type="text" style="width: 300px" ng-class="{'validation-error': UserNameInputError}" />
                </td>
            </tr>
         
            <tr>
                <td class="input-label-bottom" align="right"><label class="required">Password:</label></td>
                <td class="input-box-bottom">
                    <input ng-model="Password" type="password" style="width: 300px" ng-class="{'validation-error': PasswordInputError}" />
                </td>
            </tr>
           
        </table>

        <button class="btn btn-primary btn-large" ng-click="login()">Login</button>

        <div style="padding-top:20px">
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)"><div ng-bind-html="MessageBox"></div></alert>
        </div>

        </>
    </div>



</div>
