    <div ng-controller="productInquiryController" ng-init="initializeController()">

    <h3> Product Inquiry </h3>

    <table class="table" style="width:100%">
        <tr>
            <td class="input-label-bottom" align="right" style="width:20%"><label>Product Code:</label></td>
            <td class="input-box-bottom" style="width:20%">
                <input ng-model="ProductCode" type="text" style="width: 100px" />
            </td>
            <td class="input-label-bottom" align="right" style="width:20%"><label>Product Description:</label></td>
            <td class="input-box-bottom" style="width:20%">
                <input ng-model="Description" type="text" style="width: 300px" />
            </td>
            <td class="input-label-bottom" style="width:20%">
                <button class="btn btn-primary btn-large" ng-click="searchProducts()">Search</button>
                <button class="btn btn-primary btn-large" ng-click="resetSearchFields()">Reset</button>
            </td>
        </tr>
    </table>

    <table class="table table-striped table-hover" style="width: 100%;">
        <thead>

            <tr>
                <th colspan="2" style="width: 50%">
                    <span ng-bind="TotalProducts"></span>&nbsp;Products
                </th>
                <th colspan="5" style="text-align: right; width: 50%">
                    Page&nbsp;<span ng-bind="CurrentPageNumber"></span>&nbsp;of&nbsp;
                    <span ng-bind="TotalPages"></span>
                </th>
            </tr>

            <tr>
                                                                                                                
                <th ng:repeat="tableHeader in tableHeaders" ng:class="setSortIndicator(tableHeader.label)" ng-style="setHeaderAlignment(tableHeader.label)" ng:click="changeSorting(tableHeader.label)">{{tableHeader.label}}</th>
            </tr>

        </thead>
        <tbody>
            <tr ng-repeat="product in products">
                <td style="width: 15%; height: 25px"><a href="#Products/ProductMaintenance/{{product.productid}}" style=" cursor pointer; text-decoration underline; color black">{{product.productcode}}</a></td>
                <td style="width: 30%; white-space: nowrap"><div ng-bind="product.description"></div></td>
                <td style="width: 20%; white-space: nowrap"><div ng-bind="product.unitofmeasure"></div></td>
                <td style="width: 10%; text-align:right; white-space: nowrap"><div>{{product.unitprice | currency}}</div></td>  
                <td style="width: 25%; text-align:right; white-space: nowrap">&nbsp;</td>               
            </tr>
        </tbody>
    </table>

    <pagination boundary-links="true" total-items="TotalProducts" items-per-page="PageSize" ng-change="pageChanged()" ng-model="CurrentPageNumber" class="pagination-lg" previous-text="Prev" next-text="Next" first-text="First" last-text="Last"></pagination>

    <div style="padding-top:20px">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)"><div ng-bind-html="MessageBox"></div></alert>
    </div>


</div>

