
<div ng-controller="aboutController" ng-init="initializeController()">

    <h3> About </h3>

    <div style="width:50%">
        <p>
            HTML is great for declaring static documents, but it falters when we try to use it for declaring dynamic views in web-applications. AngularJS lets you extend HTML vocabulary for your application. The resulting environment is extraordinarily expressive, readable, and quick to develop.
        </p>

    </div>
    <div style="width:50%">
		<select kendo-drop-down-list>
		  <option value="1">Thing 1</option>
		  <option value="2">Thing 2</option>
		  <option value="3">Thing 3</option>
		</select>
    </div>

    <div style="width:50%">
        <p>
            Other frameworks deal with HTML’s shortcomings by either abstracting away HTML, CSS, and/or JavaScript or by providing an imperative way for manipulating the DOM. Neither of these address the root problem that HTML was not designed for dynamic views.
        </p>
    </div>

    <div style="width:50%">
        <p>
            AngularJS is a toolset for building the framework most suited to your application development. It is fully extensible and works well with other libraries. Every feature can be modified or replaced to suit your unique development workflow and feature needs. Read on to find out how.
        </p>
    </div>

    <div style="width:50%">
        <P>
            AngularJS is a MVC/MVVM framework created by Google to build properly architectured and maintenable web applications.  AngularJS defines numerous concepts to properly organize your web application. Your application is defined with modules that can depend from one to the others. It enhances HTML by attaching directives to your pages with new attributes or tags and expressions in order to define very powerful templates directly in your HTML. It also encapsulates the behavior of your application in controllers which are instanciated through dependency injection that also helps you structure and test your JavaScript code very easily.
        </P>

    </div>

</div>
